rules_version = '2';

service cloud.firestore {
  match /databases/(default)/documents {
    match /subscribers/{subscriber} {
      allow write: if request.resource.data.keys().hasOnly(['token', 'email', 'created', 'updated', 'message', 'status']);
    }
  }
}
