.privacy, .guidelines {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 2.75rem;
    margin-top: 1rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.85rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin-bottom: 1.85rem;
  }

  li {
    font-size: 1.1rem;
    line-height: 2.25rem;
    list-style-type: disc;
    margin-left: 1rem;
  }

  strong {
    font-weight: bold;
  }

  a {
    color: #e60b96;
  }
}

// https://www.privacypolicygenerator.info/download.php?lang=en&token=DYjC9Jd5Vui3RvjXJHZ9c9LNbpUAv0m5#
